.footer {
	border-top: 1px solid $color-light;
	padding: 25px 0;
	text-align: center;
	font-size: 13.2px;
	color: $color-light;
	@media (max-width: $tablet-mid-width) {
		padding: 40px 20px;
	}
	.copy {
		&__link {
			transition: color .5s;
			color: inherit;
			&:hover {
				color: $color-main;
			}
		}
	}
}