.work {
	padding-top: 200px;
	padding-bottom: 60px;
	margin-top: 100px;
	background: url('/assets/img/icons/arrow-up.svg') 50% 10% no-repeat;
	@media (max-width: $mobile-width) {
		padding: 140px 20px 40px;
		background-position: 50% 4%;
	}
	&__description {
		text-align: center;
		max-width: 900px;
		margin: auto;
		&_header {
			font-size: 31.2px;
			line-height: 40px;
			color: $color-dark;
			text-transform: uppercase;
			max-width: 570px;
			margin: auto;
			margin-bottom: 50px;
			@media (max-width: $mobile-small-width) {
				font-size: 20.2px;
				line-height: 30px;
			}
		}
		&_text {
			margin-bottom: 30px;
			color: $color-light;
			line-height: 30px;
			font-size: 19.2px;
			@media (max-width: $mobile-small-width) {
				font-size: 14.2px;
				line-height: 25px;
			}
		}
	}
}


.info {
	margin-top: 120px;
	position: relative;
	@media (max-width: $mobile-small-width) {
		margin-top: 40px;
	}
	&__items { 
		counter-reset: list 0;
		margin: 0;
		width: 100%;
		display: flex;
		padding: 36px 0;
		justify-content: space-between;
		box-sizing: border-box;
		transition: background-color .5s;
		border-bottom: 2px solid $color__light;
		@media (max-width: $mobile-width) {
			display: flex;
			flex-direction:column;
			border-bottom: none;
			align-items: center;
			padding: 0;
		}
		.info__item { 
			list-style-type: none; 
			position: relative;
			font-size: 33.2px;
			font-weight: 300;
			padding-left: 80px;
			padding-right: 20px;
			cursor: pointer;
			transition: opacity .5s, background-color 1s;
			@media (max-width: $mobile-width) {
				margin: 15px 0;
				display: inline-block;
				font-size: 25.2px;
			}
			&:before {
				counter-increment: list;
				content: counter(list);
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				font-size: 19.17px;
				width: 50px;
				height: 50px;
				top: -5px;
				border-radius: 50%;
				color: $color-main__light;
				background-color: $color-dark;
				@media (max-width: $mobile-width) {
					top: -10px;
				}
			}
			&:hover:after {
				opacity: .5;
				position: absolute;
				content: "";
				left: 0;
				font-size: 19.17px;
				width: 100%;
				height: 2px;
				bottom: -38px;
				background-color: $color-main;
				z-index: 1;
				@media (max-width: $mobile-width) {
					display: none;
				}
			}
			&:hover {
				opacity: .8;
			}
		} 
		.active {
			transition: background-color .5s;
			&:before {
				background-color: $color-main;
			}
		}
	}
	.line {
		height: 2px;
		background-color: $color-main;
		top: -2px;
		left: 0;
		position: relative;
		content: "";
		transition: left .5s;
		@media (max-width: $mobile-width) {
			display: none;
		}
	}
	.info__description {
		padding: 80px 40px 60px 300px;
		background: url('/assets/img/icons/glasses.png') 10% 50% no-repeat;
		background-clip: text;
		min-height: 200px;
		@media (max-width: $mobile-mid-width) {
			padding: 200px 0 0;
			background-position: 50% 20%;
			text-align:center;
		}
		.block {
			animation: fadeEffect 1s;
			.info__header {
				font-size: 25.2px;
				color: $color-main;
				margin-bottom: 40px;
				font-weight: 400;
			}
			.info__text {
				font-size: 14.2px;
				color: $color-dark;
				line-height: 27px;
			}
		}
		#block2, #block3 {
			display: none;
		}
	}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}